.toolbar-spacer {
    flex: 1 1 auto;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    height: 76px;
    background-color: rgba(255, 255, 255, 0.1);

    .title-w-backbtn {
        display: flex;
        align-items: center;

        h1 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            margin: auto;
        }
    }
}

mat-sidenav-container {
    height: calc(100% - 64px);
}

.content {
    padding: 20px;
}

@media (max-width: 599px) {
    mat-sidenav-container {
        height: calc(100% - 56px);
    }
}