form {
    width: 100%;
}

mat-form-field {
    &.mat-form-field-invalid {
        margin-bottom: 10px;
    }
}

button[type="submit"] {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 25px;
}

a.forgot-password {
    text-decoration: underline;
}
