form {
    width: 100%;
}

mat-form-field {
    &.mat-form-field-invalid {
        margin-bottom: 10px;
    }
}

button[type="submit"] {
    width: 100%;
    display: block;
    padding: 0 25px;
    margin-bottom: 6px;
}
