.mat-mdc-form-field {
    display: block !important;
}

// Input Search Clear Button Remove
input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

// Microsoft Input Clear Button Remove
input {
    &::-ms-clear {
        display: none;
    }
}

// Autofill Webkit Fixes
input,
textarea,
select {
    &:-webkit-autofill {
        -webkit-text-fill-color: #303030 !important;
        -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;

        &:hover,
        &:focus {
            -webkit-text-fill-color: #303030 !important;
        }
    }
}

.mat-mdc-form-field {
    &:hover {
        input,
        textarea,
        select {
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #ececec inset !important;
            }
        }
    }

    &.mat-focused {
        input,
        textarea,
        select {
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #dcdcdc inset !important;
            }
        }
    }
}

body.dark-mode {
    input,
    textarea,
    select {
        &:-webkit-autofill {
            -webkit-text-fill-color: #f0f0f0 !important;
            -webkit-box-shadow: 0 0 0 30px #4a4a4a inset !important;

            &:hover,
            &:focus {
                -webkit-text-fill-color: #f0f0f0 !important;
            }
        }
    }

    .mat-mdc-form-field {
        &:hover {
            input,
            textarea,
            select {
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #565656 inset !important;
                }
            }
        }

        &.mat-focused {
            input,
            textarea,
            select {
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    input,
    textarea,
    select {
        &:-webkit-autofill {
            -webkit-text-fill-color: #f0f0f0 !important;
            -webkit-box-shadow: 0 0 0 30px #4a4a4a inset !important;

            &:hover,
            &:focus {
                -webkit-text-fill-color: #f0f0f0 !important;
            }
        }
    }

    .mat-mdc-form-field {
        &:hover {
            input,
            textarea,
            select {
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #565656 inset !important;
                }
            }
        }

        &.mat-focused {
            input,
            textarea,
            select {
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
                }
            }
        }
    }
}
